@mixin firstButtons {
        align-self: flex-end;
}
@mixin cuerpoFlex{
    display: flex;
    flex-flow: column wrap;
    height: 100vh;
   justify-content: space-between;

}
@mixin margins($left, $right){
    margin-left: $left;
    margin-right: $right;
}
.cuerpo{
    @include cuerpoFlex();
    .but{
        @include firstButtons();
    }
    background-color: rgb(187, 131, 179);
    .medio{
        display: flex;
        flex-flow: column wrap;
       
    }
    h1{
        align-self: center;
    }
    hr{
            @include margins(15%,15%);
    }
    .imagen{
        align-self: center;
        justify-self: center;
        @include margins(5%,5%)
    }
    footer{
        display: flex;
        justify-content: space-between;
    }
}


